<h3>Proposals with most votes</h3>

<div class="grid grid-pad">
  <a *ngFor="let proposal of proposals" class="col-1-4"
     routerLink="/detail/{{proposal.id}}">
    <div class="module proposal">
      <h4>{{proposal.name}}</h4>
    </div>
  </a>
</div>

<h3>Health proposals</h3>

<div class="grid grid-pad">
  <a *ngFor="let h of healthProposals" class="col-1-4"
     routerLink="/detail/{{h.id}}">
    <div class="module proposal">
      <h4>{{h.name}}</h4>
    </div>
  </a>
</div>

<h3>Social proposals</h3>

<div class="grid grid-pad">
  <a *ngFor="let proposal of proposals" class="col-1-4"
     routerLink="/detail/{{proposal.id}}">
    <div class="module proposal">
      <h4>{{proposal.name}}</h4>
    </div>
  </a>
</div>


<app-proposal-search></app-proposal-search>
