<div class="col-md-8 order-md-1">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="mb-3">Select your vote</h6>

    <div class="d-block my-3">
      <div class="custom-control custom-radio">
        <input id="voteYes" name="paymentMethod" type="radio" class="custom-control-input" checked required>
        <label class="custom-control-label" for="voteYes">Yes</label>
      </div>
      <div class="custom-control custom-radio">
        <input id="voteNo" name="paymentMethod" type="radio" class="custom-control-input" required>
        <label class="custom-control-label" for="voteNo">No</label>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email <span class="text-muted">(Optional)</span></label>
      <input type="email" class="form-control" id="email" placeholder="you@example.com">
      <div class="invalid-feedback">
        Please enter a valid email address for shipping updates.
      </div>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="sand-email">
      <label class="custom-control-label" for="sand-email">Send me a confirmation email</label>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm your vote</button>
  </div>
</div>
