
<div class="my-3 p-3 rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    <strong class="d-block text-dark">Administrator:</strong>
    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray d-flex justify-content-between  w-150">
      <span>        Proposal has been opened.</span>
      <span class="badge padding badge-info">Info</span>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    <strong class="d-block text-dark">Administrator:</strong>
    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray d-flex justify-content-between  w-150">
      <span>        Elegible voters has been setted for {{proposal.name}} proposal.</span>
      <span class="badge padding badge-info">Info</span>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    <strong class="d-block text-dark">Administrator:</strong>
    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray d-flex justify-content-between  w-150">
      <span>      Registration has been opened by administrator.</span>
      <span class="badge padding badge-info">Info</span>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    <strong class="d-block text-dark">Anonymous:</strong>
    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray d-flex justify-content-between  w-150">
      <span>        Anonymous has successfuly registered his voting rights.</span>
      <span class="badge padding badge-success">OK</span>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    <strong class="d-block text-dark">Anonymous:</strong>
    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray d-flex justify-content-between  w-150">
      <span>        Anonymous has successfuly registered his voting rights.</span>
      <span class="badge padding badge-success">OK</span>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    <strong class="d-block text-dark">Anonymous:</strong>
    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray d-flex justify-content-between  w-150">
      <span>        Anonymous has failed to vote, incorrect submission.</span>
      <span class="badge padding badge-danger">Fail</span>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    <strong class="d-block text-dark">Administrator:</strong>
    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray d-flex justify-content-between  w-150">
      <span>Voting has been opened by administrator.</span>
      <span class="badge padding badge-info">Info</span>
    </p>
  </div>
  <div class="media text-muted pt-3">
    <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
    <strong class="d-block text-dark">Anonymous:</strong>
    <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray d-flex justify-content-between  w-150">
      <span>Anonymous has successfuly voted.</span>
      <span class="badge padding badge-info">Info</span>
    </p>
  </div>
  <small class="d-block text-right mt-3">
    <a routerLink="/detail/{{proposal.id}}">All updates</a>
  </small>
</div>
